[data-focus='confirmation-modal'] {
    [data-focus='modal'][data-type='full'][data-size='medium'] > div > [data-focus='modal-window'] {
        min-width: 500px;
        min-height: auto;
    }
    [data-focus='confirmation-modal--title'] {
        h1 {
            font-size: 28px;
        }
    }
    [data-focus='confirmation-modal--content'] {
        padding: 20px 0;
    }
    [data-focus='confirmation-modal--actions'] {
        text-align: center;
        width: 100%;
        padding: 5px 0;
        button {
            margin: 0 10px;
        }
    }
}
