[data-focus='autocomplete'] {
    position: relative;

    [data-active='true'] {
        background-color: #EEE;
    }

    [data-focus='options'] {
        box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
        display: inline-block;
        overflow-x: hidden;
        width: 100%;
        position: absolute;
        bottom: auto;
        left: 0;
        background-color: white;
        margin-top: 30px;
        list-style-type: none;
        padding: 0;
        z-index: 10;
        max-height: 300px;

        [data-focus='option'] {
            padding: 10px;
            cursor: pointer;
            width: 100%;
            margin: 0;
        }
    }

    [data-focus='loading'] {
        position: absolute;
        left: 0;
        top: 24px;
        visibility: hidden;
        width: 100%;
        height: 2px;
        z-index: 10;

        &[data-loading='true'] {
            visibility: visible;
        }
    }
}
